<div class="container">
    <div *ngIf="invalidRegister" class="alert alert-danger">Invalid.</div>
    <form #f="ngForm" (ngSubmit)="newPost(f.value)">
    <div class="container">
      <h1>New Post</h1>
      <p>Please fill in this form to create a new post.</p>
      <hr>

      <label for="Title"><b>Title</b></label>
      <input type="text" placeholder="Title" ngModel name="Title" id="Title" required>

      <label for="SubTitle"><b>SubTitle</b></label>
      <input type="text" placeholder="SubTitle" ngModel name="SubTitle" id="SubTitle" required>
  
      <label for="Body"><b>Body</b></label>
      <input type="text" placeholder="Body" ngModel name="Body" id="Body" required>

      
      <input hidden type="text" value="" ngModel name="TagID" id="TagID" required>

      <label for="TagID"><b>Tag</b></label><br>
      <select ngModel name="TagID">
          <option *ngFor="let x of tagItems" value="{{x._id}}" >{{x.Name}}</option>
      </select>

      <!-- <input hidden name="UserID" id="UserID" value="{{ Id }}" ngModel> -->
      <hr>
  
      <button type="submit" class="registerbtn">Send to Review</button>
    </div>
  
  </form>

</div>